ChivalryRank/Service References/API_Coldfir3/PlayerDataWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChivalryAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChivalryAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="deaths" type="xs:int" />
      <xs:element minOccurs="0" name="greatestVictim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="greatestVictimID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="greatestVictimKills" type="xs:int" />
      <xs:element minOccurs="0" name="kills" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nemesis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nemesisID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nemesisKills" type="xs:int" />
      <xs:element minOccurs="0" name="steamId64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="teamKills" type="xs:int" />
      <xs:element minOccurs="0" name="weaponsDeaths" nillable="true" type="tns:ArrayOfWeaponStats" />
      <xs:element minOccurs="0" name="weaponsKills" nillable="true" type="tns:ArrayOfWeaponStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerStats" nillable="true" type="tns:PlayerStats" />
  <xs:complexType name="ArrayOfWeaponStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeaponStats" nillable="true" type="tns:WeaponStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeaponStats" nillable="true" type="tns:ArrayOfWeaponStats" />
  <xs:complexType name="WeaponStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="kills" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeaponStats" nillable="true" type="tns:WeaponStats" />
</xs:schema>