ChivalryRank/Service References/API_Coldfir3/PlayerDataWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PlayerDataWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://api.coldfir3.net/chivalry/PlayerDataWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://api.coldfir3.net/chivalry/PlayerDataWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://api.coldfir3.net/chivalry/PlayerDataWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChivalryAPI" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayerDataWS_GetPlayerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInfo" />
  </wsdl:message>
  <wsdl:message name="IPlayerDataWS_GetPlayerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerDataWS_GetTotalTks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalTks" />
  </wsdl:message>
  <wsdl:message name="IPlayerDataWS_GetTotalTks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalTksResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerDataWS_GetPlayerExp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerExp" />
  </wsdl:message>
  <wsdl:message name="IPlayerDataWS_GetPlayerExp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerExpResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlayerDataWS">
    <wsdl:operation name="GetPlayerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerDataWS/GetPlayerInfo" message="tns:IPlayerDataWS_GetPlayerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerDataWS/GetPlayerInfoResponse" message="tns:IPlayerDataWS_GetPlayerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalTks">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerDataWS/GetTotalTks" message="tns:IPlayerDataWS_GetTotalTks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerDataWS/GetTotalTksResponse" message="tns:IPlayerDataWS_GetTotalTks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerExp">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerDataWS/GetPlayerExp" message="tns:IPlayerDataWS_GetPlayerExp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerDataWS/GetPlayerExpResponse" message="tns:IPlayerDataWS_GetPlayerExp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPlayerDataWS" type="tns:IPlayerDataWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayerInfo">
      <soap:operation soapAction="http://tempuri.org/IPlayerDataWS/GetPlayerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalTks">
      <soap:operation soapAction="http://tempuri.org/IPlayerDataWS/GetTotalTks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerExp">
      <soap:operation soapAction="http://tempuri.org/IPlayerDataWS/GetPlayerExp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlayerDataWS">
    <wsdl:port name="BasicHttpBinding_IPlayerDataWS" binding="tns:BasicHttpBinding_IPlayerDataWS">
      <soap:address location="http://api.coldfir3.net/chivalry/PlayerDataWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>