ChivalryRank/Service References/API_Coldfir3/PlayerDataWS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.coldfir3.net/chivalry/PlayerDataWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChivalryAPI" />
  <xs:element name="GetPlayerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="steamID64" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChivalryAPI" minOccurs="0" name="GetPlayerInfoResult" nillable="true" type="q1:PlayerStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalTks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="steamID64" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalTksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalTksResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerExp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="steamID64" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerExpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPlayerExpResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>